extends layout.pug

block content
    h1 Sales Countdown
    .wrapper
        section.content
            .sales_number
                .sales_number_content 
                    p.title Orderintake YTD
                    p.number € #{total}
            .sales_number 
                .sales_number_content 
                    p.title Q4 Target
                    p.number € #{targetQ4}
            .sales_number 
                .sales_number_content 
                    p.title Q4 intake
                    p.number € #{intakeQ4}
            .sales_number 
                .sales_number_content 
                    p.title Forecast To Go
                    p.number.negative € #{delta}
    .bottom
        .weeknumber.full_width
            p.title Orders this week 
            p.number € #{thisWeek}
        .weeknumber.lighter(style='margin-right: 20px')
            p.title Orders last week 
            p.number € #{lastWeek}
        .weeknumber.lighter
            p.title Week Target
            p.number € #{weektarget}
            span (Forecast to go / weeks left)

        
    .navigation
        a(href="/admin/import") Import
